################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQLDemo/bin/*
/GraphQLDemo/obj/*
/.vs/*
